In [8]:
#df.iloc[0,1]+pd.Timedelta(days=150)
#df[(df['Trddt']<pd.to_datetime('2010-10-01', format='%Y-%m-%d')) & (df['Stkcd'] == 1)].iloc[-1]
# df1q10 = df[df['d'] <= pd.to_datetime('2010-3-31', format='%Y-%m-%d')]
# df2q10 = df[(df['d'] <= pd.to_datetime('2010-6-30', format='%Y-%m-%d')) & (df['d'] >= pd.to_datetime('2010-4-1', format='%Y-%m-%d'))]

Timestamp('2010-06-03 00:00:00')

In [2]:
import pandas as pd

In [42]:
df = pd.read_csv('../quant/alldata.csv')
df

D:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Stkcd,Trddt,Opnprc,Hiprc,Loprc,Clsprc,Dnshrtrd,Dnvaltrd,Dsmvosd,Dsmvtll,Dretwd,Dretnd,Adjprcwd,Adjprcnd,Markettype,Capchgdt,Trdsta,IndustryCode,IndustryName
0,1,2010-01-04,24.520,24.580,23.680,23.710,24192276,5.802495e+08,69330749.18,73629834.50,-0.027082,-0.027082,818.361203,710.377219,4,2009-10-15,1,480101.0,����
1,1,2010-01-05,23.750,23.900,22.750,23.300,55649982,1.293477e+09,68131862.33,72356606.65,-0.017292,-0.017292,804.209870,698.093176,4,2009-10-15,1,480101.0,����
2,1,2010-01-06,23.250,23.250,22.720,22.900,41214313,9.444537e+08,66962216.62,71114433.15,-0.017167,-0.017167,790.403692,686.108744,4,2009-10-15,1,480101.0,����
3,1,2010-01-07,22.900,23.050,22.400,22.650,35533685,8.041663e+08,66231188.06,70338074.71,-0.010917,-0.010917,781.774831,678.618474,4,2009-10-15,1,480101.0,����
4,1,2010-01-08,22.500,22.750,22.350,22.600,28854306,6.506674e+08,66084982.34,70182803.02,-0.002208,-0.002208,780.049059,677.120420,4,2009-10-15,1,480101.0,����
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8672604,900957,2022-01-24,0.633,0.638,0.615,0.621,479100,2.998840e+05,114264.00,216729.00,-0.026646,-0.026646,0.625923,0.620999,2,2000-08-03,1,620201.0,װ��װ��
8672605,900957,2022-01-25,0.617,0.620,0.607,0.611,372779,2.281030e+05,112424.00,213239.00,-0.016103,-0.016103,0.615844,0.610999,2,2000-08-03,1,620201.0,װ��װ��
8672606,900957,2022-01-26,0.614,0.617,0.610,0.614,222600,1.362910e+05,112976.00,214286.00,0.004910,0.004910,0.618868,0.613999,2,2000-08-03,1,620201.0,װ��װ��
8672607,900957,2022-01-27,0.610,0.613,0.605,0.612,245100,1.487580e+05,112608.00,213588.00,-0.003257,-0.003257,0.616852,0.611999,2,2000-08-03,1,620201.0,װ��װ��
8672608,900957,2022-01-28,0.615,0.618,0.608,0.617,214934,1.319240e+05,113528.00,215333.00,0.008170,0.008170,0.621892,0.616999,2,2000-08-03,1,620201.0,װ��װ��

### Keep only columns needed

In [43]:
df = df[['Stkcd', 'Trddt', 'Adjprcwd']]
df.columns = ['c', 'd', 'p']
df

              c           d           p
0             1  2010-01-04  818.361203
1             1  2010-01-05  804.209870
2             1  2010-01-06  790.403692
3             1  2010-01-07  781.774831
4             1  2010-01-08  780.049059
...         ...         ...         ...
8672604  900957  2022-01-24    0.625923
8672605  900957  2022-01-25    0.615844
8672606  900957  2022-01-26    0.618868
8672607  900957  2022-01-27    0.616852
8672608  900957  2022-01-28    0.621892

[8672609 rows x 3 columns]

### Convert date format

In [44]:
df['d'] = pd.to_datetime(df['d'], format='%Y-%m-%d')
df

<ipython-input-44-2233222d3d4c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['d'] = pd.to_datetime(df['d'], format='%Y-%m-%d')

              c          d           p
0             1 2010-01-04  818.361203
1             1 2010-01-05  804.209870
2             1 2010-01-06  790.403692
3             1 2010-01-07  781.774831
4             1 2010-01-08  780.049059
...         ...        ...         ...
8672604  900957 2022-01-24    0.625923
8672605  900957 2022-01-25    0.615844
8672606  900957 2022-01-26    0.618868
8672607  900957 2022-01-27    0.616852
8672608  900957 2022-01-28    0.621892

[8672609 rows x 3 columns]

In [202]:
QUARTERS = ['2009-12-31']
for year in range(2010, 2022):
    for quarter in ['-3-31', '-6-30', '-9-30', '-12-31']:
        QUARTERS.append(f'{year}{quarter}')
QUARTERS

['2009-12-31',
 '2010-3-31',
 '2010-6-30',
 '2010-9-30',
 '2010-12-31',
 '2011-3-31',
 '2011-6-30',
 '2011-9-30',
 '2011-12-31',
 '2012-3-31',
 '2012-6-30',
 '2012-9-30',
 '2012-12-31',
 '2013-3-31',
 '2013-6-30',
 '2013-9-30',
 '2013-12-31',
 '2014-3-31',
 '2014-6-30',
 '2014-9-30',
 '2014-12-31',
 '2015-3-31',
 '2015-6-30',
 '2015-9-30',
 '2015-12-31',
 '2016-3-31',
 '2016-6-30',
 '2016-9-30',
 '2016-12-31',
 '2017-3-31',
 '2017-6-30',
 '2017-9-30',
 '2017-12-31',
 '2018-3-31',
 '2018-6-30',
 '2018-9-30',
 '2018-12-31',
 '2019-3-31',
 '2019-6-30',
 '2019-9-30',
 '2019-12-31',
 '2020-3-31',
 '2020-6-30',
 '2020-9-30',
 '2020-12-31',
 '2021-3-31',
 '2021-6-30',
 '2021-9-30',
 '2021-12-31']

In [239]:
all_res_cols = []
for i in range(3,15,3):
    for j in ['-buy', '-sell', '-buy-sell']:
        all_res_cols.append(f'{i}{j}')
all_res_cols

['3-buy',
 '3-sell',
 '3-buy-sell',
 '6-buy',
 '6-sell',
 '6-buy-sell',
 '9-buy',
 '9-sell',
 '9-buy-sell',
 '12-buy',
 '12-sell',
 '12-buy-sell']

In [223]:
def rankByRisePercent(df):
    """
    Ranks the stocks by the percentage risen over the entire period.
    Returns a dataframe
    """
    df_res = calcRisePercent(df)
    df_res['rank'] = pd.qcut(df_res['rise_percent'], 10, labels = False)
    return df_res

def calcRisePercent(df):
    """
    Calculates the percentage that the stock price has risen from the start of the period to the
    end. Returns a series
    """
    groupedBy = df.groupby('c')
    idx1 = groupedBy['d'].transform(min) == df['d']
    start_price = df[idx1][['c', 'p']].reset_index(drop=True).rename(columns={'p':'start_price'})
    idx2 = groupedBy['d'].transform(max) == df['d']
    end_price = df[idx2][['c', 'p']].reset_index(drop=True).rename(columns={'p':'end_price'})
    df = start_price.merge(end_price, on='c', how='inner')
    df['rise_percent'] = (df.end_price - df.start_price) / df.start_price
    return df

def getResults(df1, df2):
    df_res1 = rankByRisePercent(df1)
    df_res2 = calcRisePercent(df2)
    df_final_res = df_res2[['c', 'rise_percent']].merge(df_res1[['c', 'rank']], on='c', how='inner')
    return df_final_res.groupby('rank').mean()

def getFinalResults(df, j, k):
    df_final_res = pd.DataFrame(columns=['buy', 'sell', 'buy-sell'])
    for i in range(j, len(QUARTERS)-k):
        df_lookback = df[(df['d'] <= pd.to_datetime(QUARTERS[i], format='%Y-%m-%d')) &\
                         (df['d'] >= pd.to_datetime(QUARTERS[i-j], format='%Y-%m-%d') + pd.Timedelta(days=1))]
        df_forward = df[(df['d'] <= pd.to_datetime(QUARTERS[i+k], format='%Y-%m-%d')) &\
                        (df['d'] >= pd.to_datetime(QUARTERS[i], format='%Y-%m-%d') + pd.Timedelta(days=1))]
        df_res = getResults(df_lookback, df_forward)
        df_final_res.loc[len(df_final_res.index)] = [df_res.iloc[-1,1]/3, df_res.iloc[0,1]/3, \
                                                     df_res.iloc[-1,1]/3-df_res.iloc[0,1]/3]
    return df_final_res

In [253]:
def getAllResults(df):
    df_all_res = pd.DataFrame(columns=['J'] + all_res_cols)
    for i in range(1,5):
        temp = [i*3]
        for j in range(1,5):
            print(i,j)
            temp += list(getFinalResults(df, i, j).mean())
        df_all_res.loc[len(df_all_res.index)] = temp
    return df_all_res

In [228]:
df_3_3 = getFinalResults(df, 1, 1)
df_3_3

         buy      sell  buy-sell
0  -0.070917 -0.085944  0.015026
1   0.107415  0.091371  0.016045
2   0.017916  0.029168 -0.011252
3  -0.012289  0.008475 -0.020764
4  -0.015715 -0.036437  0.020722
5  -0.048725 -0.033779 -0.014946
6  -0.041676 -0.045352  0.003676
7   0.002359  0.050055 -0.047697
8  -0.009329  0.006814 -0.016143
9  -0.020273 -0.023354  0.003080
10  0.004996  0.025336 -0.020340
11  0.002475  0.027705 -0.025230
12 -0.004004 -0.030874  0.026870
13  0.070478  0.056462  0.014017
14 -0.022456 -0.000471 -0.021986
15 -0.005940  0.008105 -0.014045
16  0.017091  0.023915 -0.006824
17  0.066518  0.096308 -0.029789
18 -0.014437 -0.002607 -0.011830
19  0.079984  0.182114 -0.102130
20  0.085227  0.102583 -0.017355
21 -0.095964 -0.085253 -0.010712
22  0.096484  0.155868 -0.059384
23 -0.038711 -0.022803 -0.015908
24  0.019641  0.024774 -0.005133
25 -0.023564  0.016622 -0.040186
26 -0.001898 -0.020844  0.018946
27 -0.013375 -0.013476  0.000101
28 -0.036272 -0.055402  0.019129
29  0.017041  0.011721  0.005321
30 -0.026021 -0.051300  0.025278
31 -0.003762 -0.006560  0.002798
32 -0.038636 -0.060674  0.022039
33 -0.049157 -0.019030 -0.030127
34 -0.029115 -0.019512 -0.009604
35  0.101069  0.114859 -0.013790
36 -0.049687 -0.041312 -0.008375
37 -0.014395 -0.023837  0.009442
38  0.021685  0.005775  0.015910
39 -0.025267 -0.031191  0.005924
40  0.068752  0.028994  0.039758
41  0.013320  0.030437 -0.017117
42 -0.002031 -0.033200  0.031168
43 -0.024978 -0.017370 -0.007607
44  0.039298  0.072804 -0.033506
45  0.018081 -0.001911  0.019993
46  0.011872  0.036308 -0.024437

In [229]:
df_12_12 = getFinalResults(df, 4, 4)
df_12_12

         buy      sell  buy-sell
0  -0.114551 -0.092630 -0.021921
1  -0.106878 -0.094417 -0.012461
2  -0.096586 -0.058841 -0.037746
3  -0.059725 -0.056134 -0.003591
4   0.010518  0.006723  0.003795
5   0.028283 -0.000111  0.028394
6   0.025648 -0.034628  0.060277
7   0.126360  0.087510  0.038850
8   0.053789  0.117064 -0.063275
9   0.040756  0.048866 -0.008110
10  0.066052  0.081175 -0.015123
11  0.077284  0.097091 -0.019807
12  0.069851  0.182404 -0.112553
13  0.307449  0.303517  0.003932
14  0.411081  0.473471 -0.062389
15  0.082586  0.066089  0.016497
16  0.200123  0.262993 -0.062871
17 -0.049483  0.042407 -0.091891
18 -0.086084  0.039666 -0.125750
19 -0.003971  0.109742 -0.113714
20 -0.053149  0.015897 -0.069045
21 -0.018412  0.033242 -0.051654
22 -0.072586  0.018010 -0.090595
23 -0.055625 -0.014648 -0.040977
24 -0.098293 -0.072768 -0.025525
25 -0.096727 -0.070377 -0.026350
26 -0.055067 -0.084514  0.029446
27 -0.105100 -0.125995  0.020896
28 -0.101633 -0.100698 -0.000935
29 -0.035265 -0.019675 -0.015590
30 -0.042156  0.032570 -0.074726
31  0.045502  0.049219 -0.003716
32  0.096861  0.047925  0.048937
33 -0.036341 -0.071975  0.035634
34  0.051935  0.010666  0.041268
35  0.110018  0.031022  0.078996
36  0.095516 -0.006423  0.101939
37  0.058219  0.044022  0.014196
38  0.037886  0.101552 -0.063665
39  0.029417  0.056326 -0.026909
40  0.043884  0.073396 -0.029512

In [251]:
list(df_12_12.mean())

[0.019058189600183417, 0.037286087342562245, -0.01822789774237884]

In [231]:
getFinalResults(df, 2, 2).mean()

buy         0.011895
sell        0.014038
buy-sell   -0.002143
dtype: float64

In [246]:
from scipy import stats
stats.ttest_1samp(df_12_12['buy-sell'], 0.0)

Ttest_1sampResult(statistic=-2.2180670262146163, pvalue=0.03229222867704134)

In [249]:
list(df_3_3.iloc[0])

[-0.07091735005226063, -0.08594368856677742, 0.01502633851451679]

In [250]:
df_3_3

         buy      sell  buy-sell
0  -0.070917 -0.085944  0.015026
1   0.107415  0.091371  0.016045
2   0.017916  0.029168 -0.011252
3  -0.012289  0.008475 -0.020764
4  -0.015715 -0.036437  0.020722
5  -0.048725 -0.033779 -0.014946
6  -0.041676 -0.045352  0.003676
7   0.002359  0.050055 -0.047697
8  -0.009329  0.006814 -0.016143
9  -0.020273 -0.023354  0.003080
10  0.004996  0.025336 -0.020340
11  0.002475  0.027705 -0.025230
12 -0.004004 -0.030874  0.026870
13  0.070478  0.056462  0.014017
14 -0.022456 -0.000471 -0.021986
15 -0.005940  0.008105 -0.014045
16  0.017091  0.023915 -0.006824
17  0.066518  0.096308 -0.029789
18 -0.014437 -0.002607 -0.011830
19  0.079984  0.182114 -0.102130
20  0.085227  0.102583 -0.017355
21 -0.095964 -0.085253 -0.010712
22  0.096484  0.155868 -0.059384
23 -0.038711 -0.022803 -0.015908
24  0.019641  0.024774 -0.005133
25 -0.023564  0.016622 -0.040186
26 -0.001898 -0.020844  0.018946
27 -0.013375 -0.013476  0.000101
28 -0.036272 -0.055402  0.019129
29  0.017041  0.011721  0.005321
30 -0.026021 -0.051300  0.025278
31 -0.003762 -0.006560  0.002798
32 -0.038636 -0.060674  0.022039
33 -0.049157 -0.019030 -0.030127
34 -0.029115 -0.019512 -0.009604
35  0.101069  0.114859 -0.013790
36 -0.049687 -0.041312 -0.008375
37 -0.014395 -0.023837  0.009442
38  0.021685  0.005775  0.015910
39 -0.025267 -0.031191  0.005924
40  0.068752  0.028994  0.039758
41  0.013320  0.030437 -0.017117
42 -0.002031 -0.033200  0.031168
43 -0.024978 -0.017370 -0.007607
44  0.039298  0.072804 -0.033506
45  0.018081 -0.001911  0.019993
46  0.011872  0.036308 -0.024437

In [254]:
df_all_res = getAllResults(df)
df_all_res

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

,J,3-buy,3-sell,3-buy-sell,6-buy,6-sell,6-buy-sell,9-buy,9-sell,9-buy-sell,12-buy,12-sell,12-buy-sell
0,3.0,0.002619,0.009449,-0.006829,0.011146,0.014460,-0.003314,0.020423,0.020599,-0.000176,0.025872,0.028638,-0.002766
1,6.0,0.005472,0.010165,-0.004692,0.011895,0.014038,-0.002143,0.018274,0.021070,-0.002796,0.021616,0.030532,-0.008916
2,9.0,0.002730,0.007688,-0.004958,0.008300,0.012588,-0.004289,0.013344,0.020738,-0.007394,0.019042,0.031396,-0.012354
3,12.0,0.002107,0.008436,-0.006329,0.005462,0.014006,-0.008544,0.010924,0.022915,-0.011992,0.019058,0.037286,-0.018228